@model List<RoleVM>

@{
    ViewData["Title"] = "Administración de roles";
}

@if (TempData["Correcto"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Correcto"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="row">
    <div class="col-sm-12">

        <div class="card border-secondary bg-dark text-white text-center">
            <div class="card-header">
                <h3><strong>Roles admin</strong></h3>
            </div>
        </div>

        <div class="card-body">
            <div>
                @if (Model.Count() > 0)
                {
                    <table class="d-lg-table table-bordered bg-light text-center" id="tablaRoles" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="col-4">Id</th>
                                <th class="col-3">Name</th>
                                <th class="col-1">Num of URLs</th>
                                <th class="col-4">
                                    <div class="row">
                                        <div class="offset-2 col-8">
                                            <a asp-action="CreateRol" asp-controller="Rol" class="btn btn-primary w-100">Create new rol</a>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Id)</td>
                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                    <td>@Html.DisplayFor(m => item.NumOfUrls)</td>
                                    <td>
                                        <div class="row">

                                            <a style="margin-left:5%" class="col-5 btn btn-primary" asp-controller="Rol" asp-action="UpdateRole" asp-route-id="@item.Id">Update</a>
                                            <form class="col-6" asp-action="DeleteRole" asp-route-id="@item.Id">
                                                <button type="submit" onclick="return confirm('Está seguro de borrar este registro?')" class="w-100 btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }
                else
                {
                    <p>No hay registros</p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tablaRoles').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}
