@model List<UserForTableVM>

<h1>List of users</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Name</td>
                    <td>@user.Lastname</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>
                        <!-- <snippet_GetURLs> -->
                        <a class="btn btn-outline-success" asp-area="" asp-controller="Url" asp-action="GetAllUrls" asp-route-id="@user.Id">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                        <!-- <snippet_Edit> -->
                        <a class="btn btn-outline-info" asp-area="" asp-controller="Users" asp-action="UpdateProfile" asp-route-id="@user.Id">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <!-- </snippet_Edit> -->
                        <!-- <snippet_Delete> -->
                        <a class="btn btn-outline-danger" asp-area="" asp-controller="Users" asp-action="DeleteUser" asp-route-id="@user.Id">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                        <!-- </snippet_Delete> -->
                    </td>
                </tr>
            }
        }
    </tbody>
</table>