@model List<LoadUrlsVM>
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
@await Html.PartialAsync("CreateUrl", new UrlVM())
<h1 class="mt-4 bg-dark text-white text-center">List of URLs</h1>
<table class="table table-striped table-hover bg-light text-dark">
    <thead>
        <tr>
            <th>Name shorted</th>
            <th>URL</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var url in Model)
            {
                <tr>
                    <td class="text-dark">@url.Name</td>
                    <td class="text-dark">@url.Url</td>
                    <td>
                        <form asp-controller="Url" method="post">
                            <input type="hidden" name="idUsuario" value="@UserManager.GetUserId(User)" />

                            @if (url.Enabled)
                            {
                                <button type="submit" class="btn btn-outline-warning" asp-action="ChangeEnableUrl" asp-route-id="@url.Id">
                                    <i class="bi bi-lightbulb-off-fill"></i>
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-outline-success" asp-action="ChangeEnableUrl" asp-route-id="@url.Id">
                                    <i class="bi bi-lightbulb-fill"></i>
                                </button>
                            }
                            <button type="submit" class="btn btn-outline-info" asp-action="EditUrl" formmethod="get" asp-route-id="@url.Id">
                                <i class="bi bi-pencil-fill"></i>
                            </button>

                            <button type="submit" class="btn btn-outline-danger" asp-action="DeleteUrl" asp-route-id="@url.Id"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>